@import "../../variables";

.table-container {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
  .table {
    height: 300px;
    padding: 50px;
    margin: 50px;
    background: $sand-shadow;
  }
}
