@import "../../variables";

.table-container {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px;
  .table-header {
    height: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid $sand-shadow;
    border-bottom: 1px solid $sand-shadow;
    background: rgba($sand, 0.5);
    cursor: pointer;
    color: $night-blue-shadow;

    svg {
      margin: 5px;
    }
  }
}
