@import './variables';

body {
  width: 100%;
  padding: 0;
  margin: 0;
  
  #app-container {
    #header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: $night-blue;
    }

    #sidebar {
      position: fixed;
      top: 50px;
      left: 0;
      height: calc(100vh - 50px);
      width: 220px;
      background: $sand;
    }
    
    #content-container {
      position: fixed;
      top: 50px;
      left: 220px;
      width: calc(100vw - 220px);
      height: calc(100vh - 50px);
      overflow-y: scroll;
      overflow-x: hidden;
    }

  }
}
